// Custom buttons
//---------------------------------

.btn {
    text-transform: uppercase;
}

.btn-lg {
    box-shadow: 0px 4px rgba( $primary, 0.4);
}

.btn-sm {
    box-shadow: 0px 3px rgba( $primary, 0.4);
}