// Styles code
//---------------------------------

// Variables
$code-background: rgba($primary, 0.04);


// Styles
#site-doc {
    .hljs {
        padding:30px;
        background: $code-background;
    }
}