.dropdown-menu {
  background-color: #f2fbf7;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #92e0bc;

  .dropdown-item {
    font-size: 0.8rem;
    color: #25BC77;

    &:hover {
      background-color: #dbf7ea;
    }
  }
}
