// Sidebar menu
// -----------------------------------------------
// -----------------------------------------------
.sidebar-title {
  z-index: 30;
  white-space: nowrap;
  font-weight: 600;
  color: #263238;
  font-size: 18px;
  padding-left: 10px;
}

.sidebar-menu-item {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .active {
    border-left: solid 4px #81d8b0;
  }
}

.sidebar-brand {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
