// Styles jumbotron
//---------------------------------

.jumbotron {
  .container {
    .row {
      align-items: center;
      .btn-primary {
        margin-right: 8px;
        min-width: 120px;
        a {
          color: white;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}


// Responsive
@include media-breakpoint-down(md) {
  .jumbotron {
    .container {
      .row {
        text-align: center;
        .jumbotron-image {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(small) {
  .jumbotron {
    .container {
      .row {
        .col-lg-6 {
          .btn {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
